# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

*.mexmaci64

# build
build/*
*.zip

# FORCES stuff
*@CodeGen/*
*/FORCES/newOutput.m

examples/matlab/benchmarks/doubleIntegrator/FORCES/generateCode.m

examples/matlab/benchmarks/doubleIntegrator/FORCES/getOptions.m

examples/matlab/benchmarks/doubleIntegrator/FORCES/newParam.m

examples/matlab/benchmarks/doubleIntegrator/forcesMPC.m

examples/matlab/benchmarks/doubleIntegrator/FORCES/newOutput.m

examples/matlab/benchmarks/doubleIntegrator/FORCES/getAllOutputs.m

examples/matlab/benchmarks/doubleIntegrator/FORCES/MultistageProblem.m

examples/matlab/benchmarks/hangingChain/FORCES/MultistageProblem.m

examples/matlab/benchmarks/hangingChain/FORCES/getAllOutputs.m

examples/matlab/benchmarks/hangingChain/FORCES/newParam.m

examples/matlab/benchmarks/hangingChain/FORCES/newOutput.m

examples/matlab/benchmarks/hangingChain/FORCES/getOptions.m

examples/matlab/benchmarks/hangingChain/FORCES/generateCode.m

examples/matlab/benchmarks/hangingChain/forcesMPC.m

examples/matlab/benchmarks/hangingChain/forcesMPC/Makefile

examples/matlab/benchmarks/hangingChain/forcesMPC/forcesMPC.m

examples/matlab/benchmarks/hangingChain/forcesMPC/include/forcesMPC.h

examples/matlab/benchmarks/hangingChain/forcesMPC/interface/forcesMPC.m

examples/matlab/benchmarks/wang2010/forcesMPC/forcesMPC.m

examples/matlab/benchmarks/wang2010/forcesMPC/include/forcesMPC.h

examples/matlab/benchmarks/wang2010/forcesMPC/interface/makemex.m

examples/matlab/benchmarks/wang2010/forcesMPC/src/forcesMPC.c

examples/matlab/benchmarks/wang2010/forcesMPC/interface/forces_license.m

examples/matlab/benchmarks/hangingChain/forcesMPC/interface/forces_license.m

examples/matlab/benchmarks/hangingChain/@CodeGen/generateCodeFromMatlab.m

examples/matlab/benchmarks/hangingChain/forcesMPC/interface/forcesMPC_mex.c

examples/matlab/benchmarks/hangingChain/forcesMPC/src/forcesMPC.c

examples/matlab/benchmarks/wang2010/@CodeGen/CodeGen.m

examples/matlab/benchmarks/wang2010/@CodeGen/display.m

examples/matlab/benchmarks/hangingChain/@CodeGen/display.m

examples/matlab/benchmarks/wang2010/FORCES/getOptions.m

examples/matlab/benchmarks/wang2010/FORCES/newOutput.m

examples/matlab/benchmarks/wang2010/FORCES/newParam.m

examples/matlab/benchmarks/wang2010/forcesMPC.m

examples/matlab/benchmarks/wang2010/@CodeGen/generateCodeFromMatlab.m

examples/matlab/benchmarks/doubleIntegrator/@CodeGen/display.m

examples/matlab/benchmarks/doubleIntegrator/@CodeGen/generateCodeFromMatlab.m

examples/matlab/benchmarks/doubleIntegrator/@CodeGen/CodeGen.m

examples/matlab/benchmarks/hangingChain/@CodeGen/CodeGen.m

examples/matlab/benchmarks/hangingChain/forcesMPC/interface/makemex.m

examples/matlab/benchmarks/wang2010/FORCES/MultistageProblem.m

examples/matlab/benchmarks/wang2010/FORCES/generateCode.m

examples/matlab/benchmarks/wang2010/FORCES/getAllOutputs.m

examples/matlab/benchmarks/wang2010/forcesMPC/Makefile

examples/matlab/benchmarks/wang2010/forcesMPC/interface/forcesMPC.m

examples/matlab/benchmarks/wang2010/forcesMPC/interface/forcesMPC_mex.c
